<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title  %></title>
</head>
<body>
    
<% if(description){ %>

    <h1><%= description  %></h1>

<% }  else{ %>

    <h1>There is no message</h1>
<% } %>



<table border="1" width="500px">

    <% information.forEach(i=>{%>

<tr>
    <td><%= i.name %></td>
    <td><%= i.contact  %></td>

</tr>
        

<%   })  %>
</table>

</body>
</html>